[Unit]
Description=Minio
Documentation=https://docs.minio.io
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable={{ minio_default_install_dir }}/minio

[Service]
EnvironmentFile=/etc/default/minio
ExecStart={{ minio_default_install_dir }}/minio server $MINIO_OPTS

Restart=always

[Install]
WantedBy=multi-user.target